/* 
--------------------------------------------------------- 
                    PORTFOLIO CSS 
--------------------------------------------------------- 
*/
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

/* Title */
.portfolio_title {
    font-family: 'Rozha One', serif;
    text-align: center;
    font-size: 3rem;
    color: var(--color-white);
}

.portfolio_item h3 {
    margin: 1.2rem 0 2rem;
}


.portfolio_container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio_item {
    background: var(--color-bg-variant);
    padding: 1.3rem; 
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

/* Images  */
.portfolio_item_image {
    border-radius: 0.5rem;
    overflow: hidden;
}

/* 
--------------------------------------------------------- 
                    MEDIA QUERIES
--------------------------------------------------------- 
*/

/* -------------------- TABLET -------------------- */
@media screen and (max-width: 1024px) {
    .portfolio_container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}


/* -------------------- PHONE -------------------- */
@media screen and (max-width: 600px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}