/* 
--------------------------------------------------------- 
                    SKILLS CSS 
--------------------------------------------------------- 
*/
@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');

/* Title */
.skills_title {
    font-family: 'Rozha One', serif;
    text-align: center;
    font-size: 3rem;
    color: var(--color-white);
}

/* Container */
.skills_container {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 2rem; 
}

.skills_container > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.skills_container > div:hover {
    background: transparent;
    border-color: var(--color-bg-variant);
}

.skills_container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

/* Content */
.skills_content {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.skills_details {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.skills_details_icon {
    color: var(--color-primary);
}






/* 
--------------------------------------------------------- 
                    MEDIA QUERIES
--------------------------------------------------------- 
*/

/* -------------------- TABLET -------------------- */
@media screen and (max-width: 1024px) {
    .skills_container {
        grid-template-columns: 1fr;
    }

    .skills_container > div {
        width: 80%;
        padding: 2rem; 
        margin: 0 auto; 
    }
    
    .skills_content{
        padding: 1rem;
    }
}


/* -------------------- PHONE -------------------- */
@media screen and (max-width: 600px) {
    .skills_container {
        gap: 1rem;
    }

    .skills_container > div {
        width: 100%; 
        padding: 2rem 1rem; 
    }
}